.content {
  text-align: center;
}

.navs {
  list-style-type:none;
  border: none;
  background: none;
  text-decoration: none;
   color: white;
  margin-left: 15px;
}


.paper {
  margin-top: 10px;
  margin-bottom: 10px;
 
  height: 500;
  overflow: "auto";
}

.logo{
list-style-type: none;
text-decoration: none;
color: white;

}

.menuItems {
  height: 200px;
  font-size: 40px;
 
}

.menuItems > a {
  text-decoration: none;
  color: green;
}

.homeImg, .gridImg {
  opacity: 0.7;
filter:brightness(40%);
}

.welcome {
  float: right;
}

.logout {
 
  float: right;
  font-size: 20px;
  color: white;
}

.createGrid {
  height: 800px;
}

.modal {
  /* margin-top: 300px;
  margin-left: 250px; */
  width: 250px;
  background-color: white;
}