.content {
  text-align: center;
}

.navs {
  list-style-type:none;
  border: none;
  background: none;
  text-decoration: none;
   color: #0200ff;
  margin-left: 15px;

  font-size: 20px;
  font-weight: bold;
}



.paper {
  margin-top: 10px;
  margin-bottom: 10px;
 
  /* height: 1600px; */
  /* overflow: "auto"; */
}

.viewPaper {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 800px;
}

.createPaper {
  height: 600px;
}

.logo{
list-style-type: none;
text-decoration: none;
color: white;

}

.menuItems {
  height: 100px;
  font-size: 20px;
 
}

.menuItems > a {
  text-decoration: none;
  color: #00ff5f;
}

.homeImg, .gridImg {
  /* opacity: 0.7; */
filter:brightness(90%);
}

.welcome {
  float: right;
}

.logout {
 

  color: red;
  text-decoration: none;
  margin-left: 15px;
}

.createGrid {
  height: 800px;
}

.exerciseGrid {
  width: 100%;
  height: 700px;
}

.userLinks {
  text-decoration: none;
}

#menu {
  color: #0200ff;
}

.homeImg {
  width: 100%;
  border-radius: 12px;
  margin-bottom: -28px;
  z-index: -1;
}

.prog {
  background-color: #0200ff;
  color: #FFF;
  padding: 10px;
  z-index: 2;
  margin-top: -18px;
  border-radius: 12px;
 position: relative;
}

.account {
  margin-left: 40px;
  text-decoration: none;

}

.acc {
  text-decoration: none;
  color: #0200ff;
}

.userTop {
  font-size: 20px;
  color: #0200ff;
  margin-left: 15px;

  font-size: 20px;
  font-weight: bold;
}

.Logo {
  padding: 5px;
    width: 100px;
}

.button {
  background-color: #00ff5f;
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.submitButton {
  background-color: #00ff5f;
  color: white;
}

.submitButton:hover {


  background-color: white; 
  color: black; 
  border: 2px solid #00ff5f;
}

.confirmButton {
  background-color: #0200ff;
  color: white;
  
}

.confirmButton:hover {


  background-color: white; 
  color: black; 
  border: 2px solid #0200ff;
}

.createButton {
  padding: 2px;
}

.createButton:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #00ff5f;
}

.edit {
  height: 20px;
}

.deleteButton {

  background-color: red;
  color: white;
}

.deleteButton:hover {
  background-color: white; 
  color: red; 
  border: 2px solid red;

}

.userForm{
	width:450px;
	padding:30px;
	margin:60px auto;
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.userForm .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.userForm h1{
	background: #0200ff;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	color: #fff;
	/* font: normal 30px 'Bitter', serif; */

}

.userForm label{
	display: block;
	margin-bottom: 15px;
}


.programs {
  /* color: #0200ff; */
  background: #0200ff;
	padding: 20px 30px 15px 30px;
	/* margin: -30px -30px 30px -30px; */
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.exerciseName {
  background-color: #0200ff;
  color: #FFF;
  padding: 10px;
  margin-bottom: 0px;
}

.tabs {
  font-weight: bold;
  color: #0200ff;
}

.tab {
  font-weight: bold;
}

.imageContainer {
  position: relative;
  background: black;
  overflow: hidden;
  width: 100%;
  height: 350px;
  border-radius: 12px;
  margin-top: 10px; 

}
.imageContainer:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background-image: url('./images/gridArms.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
-o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.imageContainer button {
 
  z-index: 2;
  position: relative;
  

  margin-top: 200px;
  padding-top: 20px;
  padding-right: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;

  opacity: 1;
  background-color: #00ff5f;
  color: white;
 
} 

.imageContainer button:hover {


  background-color: white; 
  color: black; 
  border: 2px solid #00ff5f;
}

.mainPaper {
  margin-top: 10px;
  height: 600px;
}

.journey {
  color: #0200ff;
}

.gridImages {
  border-radius: 50%;
  height: 100px;
  border: #00ff5f solid 2px;
}

h3 {
  color: #0200ff
}

.chestImg {
  height: 300px;

}

.viewContainer {
  height: 800px;
}

.programName {
  color: #00ff5f;
  
}